version: "3.9"

# services:

#   db:
#     image: mariadb:11
#     container_name: proyecto_db
#     restart: always
#     environment:
#       MYSQL_ROOT_PASSWORD: root
#       MYSQL_DATABASE: proyecto_web
#     ports:
#       - "3307:3306"
#     volumes:
#       - mariadb_data:/var/lib/mysql

#   web:
#     build: .
#     container_name: proyecto_web
#     restart: always
#     depends_on:
#       - db
#     ports:
#       - "5000:5000"
#     environment:
#       DB_HOST: db
#       DB_PORT: 3306
#       DB_USER: webuser
#       DB_PASSWORD: webpass123
#       DB_NAME: proyecto_web
#     volumes:
#       - .:/app
#     command: python app.py

# volumes:
#   mariadb_data:
services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: webuser
      DB_PASSWORD: webpass123
      DB_NAME: proyecto_web
    depends_on:
      - db

  db:
    image: mariadb:11
    environment:
      FLASK_ENV: production
      FLASK_DEBUG: 0
      MARIADB_DATABASE: proyecto_web
      MARIADB_USER: webuser
      MARIADB_PASSWORD: webpass123
      MARIADB_ROOT_PASSWORD: rootpass
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./db_init:/docker-entrypoint-initdb.d
volumes:
  mariadb_data:
